body{
  background: #191b26;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #f4f5f7;
  margin-top: 16px;
}

.msg {
  text-align: center;
  color: #f4f5f7;
  margin: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.message{
  height: 5rem;
  width:15rem;
  border-radius: 10px;
  color: #131417;
}

.msg-box{
  border-radius:10px;
}